body {
    font-family: 'Montserrat', sans-serif; /* Cambiar la fuente aquí */
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('https://newsroom.churchofjesuschrist.org/media/960x540/Mendoza-Argentina-Temple-exterior-rendering.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.295); /* Ajusta la transparencia de la invitación aquí */
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 90%;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #5b4e22;
    font-size: 3em; /* Aumenté el tamaño de la fuente */
    margin-bottom: 10px;
    font-weight: 600; /* Negrita */
}

h2 {
    color: #5b4e22;
    font-size: 2em; /* Aumenté el tamaño de la fuente */
    margin-bottom: 20px;
    font-weight: 400; /* Normal */
}

.schedule-table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.13); /* Transparencia para la tabla */
}

.schedule-table th, .schedule-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.schedule-table th {
    background-color: rgba(244, 244, 244, 0.123); /* Transparencia para los encabezados de la tabla */
    font-weight: bold;
    color: #5b4e22;
}

.schedule-table td {
    color: #333;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.199); /* Transparencia para las celdas de la tabla */
}

.flag {
    width: 40px;
    margin-top: 10px;
}

footer {
    margin-top: 20px;
    font-size: 1.1em;
    color: #5b4e22;
}

a {
    color: #4a4a4a;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.youtube-video {
    margin-top: 20px;
}

iframe {
    width: 100%;
    height: 315px; /* Puedes ajustar la altura según necesites */
    border: none;
    border-radius: 8px;
}